:root {
  --font-family: "Lato", sans-serif;
  --white-color: #ffffff;
  --black-color: #000000;
  --max-width: 1400px;
  --margen-x: 0.5rem;
  --box-shadow: 3px 4px 5px -2px #b5c0e2;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: var(--font-family);
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  background-color: #f5f6f9;
  color: var(--black-color);
  /* line-height: 1.6; */
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Establecer estilos base para encabezados y párrafos */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 1rem; /* Puedes ajustar según tus preferencias */
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.2rem;
  line-height: 1.5;
}

img {
  width: 100%;
}

li {
  list-style: none;
}

.container {
  padding: 1rem;
  max-width: var(--max-width);
  margin: auto;
}

.tag {
  color: white;
  background-color: black;
  padding: 4px 10px;
}

.btn {
  background-color: #3945c6;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

/* Estilos para dispositivos móviles primero */
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  h5 {
    font-size: 1.1rem;
  }

  h6 {
    font-size: 1rem;
  }

  p {
    font-size: 1rem;
  }
}

html.dark {
  background-color: #000;
  color: #fff;
}

html.dark body {
  background: #000000;
  color: #ffffff;
}
