---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro." description='Description'>
	<main>
		<h1>Titulo 1</h1>
		<h2>Titulo 2</h2>
		<h3>Titulo 3</h3>
		<h4>Titulo 4</h4>
		<h5>Titulo 5</h5>
		<h6>Titulo 6</h6>
		<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio commodi illum necessitatibus quibusdam vel quae dignissimos nemo consequuntur officiis, laboriosam at voluptas distinctio veritatis et voluptatum doloribus amet deleniti veniam laudantium ut vitae atque nulla? Eaque debitis ratione vitae aspernatur facilis pariatur earum tempora iusto nesciunt, suscipit voluptates libero dolore ut autem harum totam alias minus itaque aliquid aperiam voluptate eveniet voluptatem, asperiores obcaecati. Porro, itaque accusamus id molestiae aliquid blanditiis maxime magnam natus, molestias, ab earum! Sit voluptatem commodi doloribus soluta, sapiente voluptas corrupti incidunt deserunt deleniti eos consectetur. Animi eum recusandae officiis culpa reiciendis ipsa quam laborum sapiente.</p>
	
	
	
	
	</main>
</Layout>
