---
import "../styles/hamburgers.css";
---

<div class="btn-burger">
  <button class="hamburger hamburger--collapse" type="button">
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </button>
</div>

<style>
    .btn-burger{
        margin-top: 7px;
    }
</style>
