<div class="separator"></div>

<style>
    .separator {
        position: relative;
        height: 66px;
        width: 100%;
    }

    
    @media (min-width: 640px) {
        .separator {
        
        height: 116px;
        
    }
    }
</style>